.login-box{
   background-color: #fff;
    height: 500px;
    width: 300px;
    position: relative;
    margin: 2% auto;
    padding-top: 50px;
    border-radius: 60px;
}
#log-btn{
    /* position: absolute; */
    /* margin: 2% auto; */
    margin: 10px 0 10px 110px;
   
   
}
.btn-log{
    width: 100px;
    height: 40px;
    background-color: #f5ba13;
    border-radius: 20px;
}
.input-group{
    margin: 10px 0px 10px 55px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.main-div{
    display: flex;
    flex-wrap: wrap;
    background-color: #f5ba13;
    margin-bottom: 50px;
}
.checkbox-class{
    margin-left: 55px;
}